<h3>Password recover notify</h3>
<p>
Please, click this link to recover your password:
</p>
<p>
<%= link_to password_change_url(recover_link: @recover.link), password_change_url(recover_link: @recover.link) %>
</p>