/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

.body_center {
	padding:0 34% 40px;
	width:32%;
	min-width:400px;
	background-color:	#CCCCCC;
}
.main_content {
	margin: 40px 20px;
	padding: 17px 30px 10px;
	border-radius:50px 4px;
}
input[type="text"].normal, input[type="password"].normal {
	width:98%;
}
form#login {
	padding-top:10px;
	padding-bottom:10px;
}
form input.normal_btn {
	margin-top:20px;
}
.main_content h1, .main_content h2 {
		border-bottom: 1px solid #CCC;
}
form.edit_user {
	padding-top:5px;
	padding-bottom:10px;
}